.hide {
  display: none;
}

body {
  background-color: white;
  text-align: center;
}

.question-title {
  color: #694f5d;
}

h2 {
  color: #68a691;
}

button {
  border: 1px solid;
  background-color: #efc7c2;
}

.quiz-group {
  margin: 10px 16px;
  background-color: white;
}
